DATABASE_URL=mysql://<databaseUserName>:<databasePassword>@localhost:3307/<databaseName>
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

BASE_URL=http://localhost:3000

HOST=127.0.0.1
DATABASE=drizzlemysql
ROOT_USER=root
ROOT_PASSWORD=rootPassword
USER_PASSWORD=regularUser
USERNAME=regularUser